@import "tailwindcss";

@theme {
    --default-font-family: "Times New Roman", "Times", "serif";
    --color-primary: blue;
    --color-surface: white;
}

* {
    color: var(--color-primary);
}

::selection {
    background: var(--color-primary);
    color: var(--color-surface);
}

::-moz-selection {
    background: var(--color-primary);
    color: var(--color-surface);
}
